.about-section h2:after {margin-left: 1.4rem; width: 90px;}
@media screen and (min-width: 380px){
  .about-section h2:after {margin-left: 1.7rem; width: 114px;}
}    
@media screen and (min-width: 768px){
  .about-section h2:after {margin-left: 2.1rem; width: 141px;}
}

.services-section h2:after {margin-left: 1.4rem; width: 88px;}
@media screen and (min-width: 380px){
  .services-section h2:after {margin-left: 1.8rem; width: 108px;}
}    
@media screen and (min-width: 768px){
  .services-section h2:after {margin-left: 2.2rem; width: 130px;}
}

.qa-section h2:after {margin-left: 0.8rem; width: 229px;}
@media screen and (min-width: 380px){
  .qa-section h2:after {margin-left: 1.1rem; width: 288px;}
}
@media screen and (min-width: 768px){
  .qa-section h2:after {margin-left: 1.4rem; width: 346px;}
}

.testimonials-section h2:after {margin-left: 1.2rem; width: 126px;}
@media screen and (min-width: 380px){
  .testimonials-section h2:after {margin-left: 1.5rem; width: 159px;}
}
@media screen and (min-width: 768px){
  .testimonials-section h2:after {margin-left: 1.8rem; width: 190px;}
}

.follow-section h2:after {margin-left: 1.3rem; width: 82px;}
@media screen and (min-width: 380px){
  .follow-section h2:after {margin-left: 1.7rem; width: 103px;}
}
@media screen and (min-width: 768px){
  .follow-section h2:after {margin-left: 2.1rem; width: 123px;}
} 
